@import "calculator.css";

html, body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-color: #E0FBFC;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10vh;
  background-color: #9DB4C0;
}

.title {
  text-transform: uppercase;
}

main {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
}

/* Footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #9DB4C0;
  color: black;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.1rem;
}

.copyright {
  margin: 0;
}

.fa-github {
  color: black;
}

.fa-github:hover {
  color: blue;
}

@media (max-width: 600px) {
  .title {
    font-size: 24px;
  }
}